<section class="section animate__animated animate__bounceInLeft">
  <nav class="navbar navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">
      <img
        src="https://scontent.fvvi1-2.fna.fbcdn.net/v/t1.0-9/1660213_676514912370702_1788906575_n.png?_nc_cat=100&_nc_sid=09cbfe&_nc_ohc=Vl7w031Dw1UAX_FJUZp&_nc_ht=scontent.fvvi1-2.fna&oh=113e9cf4a2282c34773a2a3b5480a742&oe=5F02A821"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      {{ title }}
    </a>
  </nav>
</section>
<!-- pages -->
<div class="body-content">
  <div
    class="card text-white bg-secondary mb-3 animate__animated animate__bounceInLeft"
  >
    <div class="card-header text-center">
      <h5>Control Diario Insumo Z2 - Z3 - Z4</h5>
    </div>
    <div class="container">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Producto</label>
            <select
              class="selectpicker form-control"
              multiple
              #selectId
              disabled
            >
              <ng-container *ngFor="let prod of prodCtrl; let i = index">
                <option>{{ prod.nombre }}</option>
              </ng-container>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputCant">Cantidad</label>
            <input
              type="number"
              class="form-control"
              value="62510"
              id="inputCant"
              [disabled]="habilitar"
            />
          </div>
          <div class="form-group col-md-2">
            <label for="inputUnid">Unidad</label>
            <input
              type="text"
              class="form-control"
              value="Kg"
              id="inputUnid"
              disabled
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputDateCons">Fecha Consumo</label>
            <input
              type="date"
              class="form-control"
              id="inputDateCons"
              value="2020-06-25"
              [disabled]="habilitar"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="inputDataCtrl">Fecha Control</label>
            <input
              type="date"
              class="form-control"
              id="inputDataCtrl"
              [disabled]="habilitar"
            />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-7">
            <div class="form-group row">
              <label for="inputAnalist" class="col-sm-3 col-form-label"
                >Analista</label
              >
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  id="inputAnalist"
                  value="juan"
                  [disabled]="habilitar"
                />
              </div>
            </div>
          </div>
          <div class="form-group col-md-5 text-center">
            <button
              class="btn btn-light margin-le"
              title="Habilitar"
              (click)="habiDatos()"
            >
              <i class="fa fa-pencil"></i>
            </button>
            <button
              class="btn btn-light margin-le"
              data-toggle="modal"
              title="Agregar Traspaso"
              data-target="#traspasoModal"
            >
              <i class="fa fa-exchange"></i>
            </button>
            <button
              class="btn btn-light margin-le"
              data-toggle="modal"
              title="Agregar Traspaso"
              data-target="#saldoFinalModal"
            >
              <i class="fa fa-balance-scale"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="card-body">
      <div *ngIf="ctrlDiar.length === 0; else userData" class="text-center">
        No hay jugadores
      </div>
      <ng-template #userData>
        <div class="table-responsive">
          <table class="table table-dark table-hover table-sm">
            <thead class="color-header">
              <tr>
                <th scope="col">No</th>
                <th scope="col">CODIGO</th>
                <th scope="col">INSUMOS</th>
                <th scope="col">UNIDAD</th>
                <th scope="col">SALDO ANTERIOR</th>
                <th scope="col">TRASPASO</th>
                <th scope="col">TOTAL INSUMOS</th>
                <th scope="col">CONSUMO</th>
                <th scope="col">SALDO FINAL</th>
                <th scope="col" class="text-center">Opcion</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let ctrldiario of ctrlDiar; let i = index">
                <tr class="color-table-title">
                  <th scope="row"></th>
                  <td>{{ ctrldiario.codigo }}</td>
                  <td colspan="4">{{ ctrldiario.insumo }}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <ng-container
                  *ngFor="let dato of ctrldiario.data; let j = index"
                >
                  <tr>
                    <td>{{ j + 1 }}</td>
                    <td title="Codigo">{{ dato.codigo }}</td>
                    <td title="Insumo">{{ dato.insumo }}</td>
                    <td title="Unidad">{{ dato.unidad }}</td>
                    <td title="Saldo Anterior">{{ dato.saldoAnt }}</td>
                    <td title="Traspaso">{{ dato.traspaso }}</td>
                    <td title="Total Insumo">{{ dato.totalIns }}</td>
                    <td title="Consumo">{{ dato.consumo }}</td>
                    <td title="Saldo final">{{ dato.saldoFin }}</td>
                    <td class="d-flex justify-content-around">
                      <i
                        class="fa fa-pencil puntero"
                        data-toggle="modal"
                        data-target="#editarModal"
                        (click)="editar(dato)"
                      ></i>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </tbody>
          </table>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- -------------INFO CONTENT ------------- -->
  <div
    id="accordion"
    class="info-content animate__animated animate__bounceInLeft"
  >
    <div class="card bg-secondary">
      <div class="card-header">
        <h5 class="mb-0">
          <button
            class="btn btn-link info-boton"
            data-toggle="collapse"
            data-target="#collapseOne"
          >
            Estadisticas
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body info-jugador">juegos ganados</div>
      </div>
    </div>
    <div class="card bg-secondary">
      <div class="card-header">
        <h5 class="mb-0">
          <button
            class="btn btn-link info-boton"
            data-toggle="collapse"
            data-target="#collapseDos"
          >
            Datos Adicional
          </button>
        </h5>
      </div>
      <div id="collapseDos" class="collapse" data-parent="#accordion">
        <div class="card-body info-jugador">juegos ganados</div>
      </div>
    </div>
  </div>
</div>
<!-- ------------------ EDITAR --------------->
<div
  class="modal fade"
  id="editarModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content animate__animated animate__bounceInDown">
      <div class="modal-header">
        <h5 class="modal-title">
          Editar <strong>Traspaso-Saldo final</strong>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12">
              <form class="form-inline">
                <div class="col-12">
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        {{ EditTraspSald | lowercase }}
                      </div>
                    </div>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Traspaso"
                    />
                  </div>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        {{ EditTraspSald | lowercase }}
                      </div>
                    </div>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Saldo Final"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          (click)="guardar('editarJugador')"
          class="btn btn-primary"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ------------------ AGREGAR TRASPASO--------------->
<div
  class="modal fade"
  id="traspasoModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content animate__animated animate__bounceInDown">
      <div class="modal-header">
        <h5 class="modal-title">Insertar Traspaso</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12">
              <form>
                <div class="form-row align-items-center">
                  <ng-container
                    *ngFor="let ctrldiario of ctrlDiar; let i = index"
                  >
                    <ng-container
                      *ngFor="let dato of ctrldiario.data; let j = index"
                    >
                      <div class="col-12">
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              {{ dato.insumo | lowercase }}
                            </div>
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            placeholder="Traspaso"
                          />
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          (click)="guardar('agregarJugador')"
          class="btn btn-primary"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ------------------ AGREGAR SALDO FINAL--------------->
<div
  class="modal fade"
  id="saldoFinalModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content animate__animated animate__bounceInDown">
      <div class="modal-header">
        <h5 class="modal-title">Insertar Saldo Final</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12">
              <form>
                <div class="form-row align-items-center">
                  <ng-container
                    *ngFor="let ctrldiario of ctrlDiar; let i = index"
                  >
                    <ng-container
                      *ngFor="let dato of ctrldiario.data; let j = index"
                    >
                      <div class="col-12">
                        <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              {{ dato.insumo | lowercase }}
                            </div>
                          </div>
                          <input
                            type="number"
                            class="form-control"
                            placeholder="Saldo Final"
                          />
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          (click)="guardar('agregarJugador')"
          class="btn btn-primary"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
